.SearchEntry {
    display: flex;
}

/* .col{
    flex: 1;
    border: 2px solid;
}
*/

.side {
    height: 270px;
    width: 100%;
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #EAE4DF;
    overflow: hidden;
}

.side img {
    height: 270px;
    width: 100%;
    object-fit: cover;
}

.infoBox p {
    margin-top: 2px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;

}

.SearchEntry .scorebox {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.scorebox h3,
.scorebox a {
    /* Displaying both h3 and a inline-block */
    margin-right: 8px;
    /* Adjust the margin as needed */
    margin-top: auto;
    margin-bottom: 8px;
    /* Adjust the margin as needed */
}

.scorebox a {
    color: blue;
    display: block;
    margin-bottom: 8px;
}