.gradual {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
.gradual.visible {
    opacity: 1;
}

.filterPopup {

    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 10px;
    background: #F1EBE5;
    display: flex;
    flex-direction: column;
    font-weight: 600;

}

.filterPopup p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.filterPopup * {
    font-weight: 500;
}

.slideContainer {
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
    /* margin-right: -10px; */
    width: 100%;
}

.slider {
    margin-left: auto;
    margin-right: auto;
    /*remove default styling property*/
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 4px;
    background: #9a9284;
    outline: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}

.slider:hover {
    background-color: #716b60;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.buttonContainer {
    font-family: var(--font-raleway);
    display: flex;
    align-items: center;
    flex-direction: row;
    /* Align items vertically center */
}


.filterButton {
    appearance: none;
    background-color: #9a9284;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 6px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}

.filterButton:hover {
    background-color: #716b60;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);

}

.filterButton:after {
    content: "\002714";
    display: none;
    font-weight: 600;
    font-size: 16px;
    color: white;

}

.filterButton:checked {
    content: "\002714";
    font-weight: 100;
    font-size: 10px;
}

.filterButton:checked:after {
    display: block;
}


.buttonContainer label {
    margin-right: 12px;
    margin-bottom: 4px;
}

@media (max-width: 768px) {
    .filterPopup {
      width: 90%;
    }
}