.Details {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.4rem;
    width: 85%;
    display: flex;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.Details:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content {
    display: flex;
}

.ring{
    display: flex;
}

.ringBox {
    margin-top: auto;
    margin-bottom: auto;
}


.sideRight {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #EAE4DF;
    overflow: hidden;
}

.sideLeft {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #EAE4DF;
    overflow: hidden;
}

.infoBox p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;

}

.icon{
    vertical-align: middle;
    width:18px;
    height:18px;
    margin-bottom: 4px;
}

.button {
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background-color: #9a9284;
    border: 1px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
    margin-right: 10px;
}

.button:hover {
    background-color: #716b60;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.buttonBox {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 18px;
    text-align: left;
}

.buttonCover {
    color: #EAE4DF;
    background-color: #EAE4DF;
    border : 0px;
}

.map {
    user-select: none;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1.5rem;
    margin-bottom: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    display: flex;
    align-items: center;
    padding: 0px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  
    /* outline: 3px solid black; */
}
  
.map:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.checkbox {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.buttonWalk {
    appearance: none;
    background-color: #ff8080;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}

.buttonWalk:hover {
    background-color: #ff1010;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.buttonWalk:checked:hover {
    background-color: #ff1010;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.buttonWalk:after {
    content: "\002714";
    display: none;
    font-weight: 600;
    font-size: 16px;
    color: white;
}

.buttonWalk:checked {
    background-color: #ff4545;
    content: "\002714";
    font-weight: 100;
    font-size: 10px;
}

.buttonWalk:checked:after {
    display: block;
}

.buttonCar {
    appearance: none;
    background-color: #6cbeee;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.buttonCar:hover {
    background-color: #005fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);

}

.buttonCar:checked:hover {
    background-color: #005fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.buttonCar:after {
    content: "\002714";
    display: none;
    font-weight: 600;
    font-size: 16px;
    color: white;

}

.buttonCar:checked {
    background-color: #0080ff;
    content: "\002714";
    font-weight: 100;
    font-size: 10px;
}

.buttonCar:checked:after {
    display: block;
}

.buttonMB {
    appearance: none;
    background-color: #ff9d65;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.buttonMB:hover {
    background-color: #ff5f00;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);

}

.buttonMB:checked:hover {
    background-color: #ff5f00;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.buttonMB:after {
    content: "\002714";
    display: none;
    font-weight: 600;
    font-size: 16px;
    color: white;

}

.buttonMB:checked {
    background-color: #ff792b;
    content: "\002714";
    font-weight: 100;
    font-size: 10px;
}

.buttonMB:checked:after {
    display: block;
}

.buttonPT {
    appearance: none;
    background-color: #e675e6;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 6px;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    align-items: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.buttonPT:hover {
    background-color: #bf00bf;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);

}

.buttonPT:checked:hover {
    background-color: #bf00bf;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.buttonPT:after {
    content: "\002714";
    display: none;
    font-weight: 600;
    font-size: 16px;
    color: white;

}

.buttonPT:checked {
    background-color: #d319d3;
    content: "\002714";
    font-weight: 100;
    font-size: 10px;
}

.buttonPT:checked:after {
    display: block;
}

@media (max-width: 900px) {
    .Details {
      width: 90%;
      flex-direction: column;
    }
    .sideRight {
        border-top-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .sideLeft {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .content {
        flex-direction: column;
    }
    .info {
        display: flex;
    }
    .infoEntry {
        width: 50%
    }
    .map {
        width: 90%;
    }
    .checkbox {
        width: 90%;
    }
    .checkboxTitle {
        display: none;
    }
}
