.App {
  text-align: center;
}

.logo {
  /* Align the logo to the start (left) */
  align-self: flex-start;
  width: 240px;
  height: auto;

}

.logo-container {
  width: 100%;
  height: 78px;
}

.menu-container {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: #333333;

}

.menu {
  color: #ffffff;
  background-color: transparent;
  /* Set background color to transparent */
  border: none;
  /* Remove border */
  margin-right: 150px;
}

/*Adjust website for smaller screen*/
@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
    align-items: center;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/*
.App-header {
  background-color: #ffffff;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}