.App {
  text-align: center;
}

.logo {
  /* Align the logo to the start (left) */
  align-self: flex-start;
  width: 240px;
  height: auto;

}

.logo-container {
  width: 100%;
  height: 78px;
}

.menu-container {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: #333333;
  display: flex;
  /* Aligns items with space between them */
  justify-content: space-between;
  /* Centers items vertically */
  align-items: center;
}

.menu {
  color: #ffffff;
  text-decoration: none;
  font-family: var(--font-raleway);
  /* Set background color to transparent */
  background-color: transparent;
  /* Remove border */
  border: none;
  cursor: pointer;
}

/*Adjust website for smaller screen*/
@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
    align-items: center;
  }
}

.search {
  width: 50%;
  /* You can adjust the width as needed */
  margin: 2rem auto;
  /* Center the search bar horizontally and provide top and bottom margin */

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.0rem 1.0rem;
  border-radius: 3rem;
  background: #e6e9ed;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.0rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;

  outline: none;
  color: #141313;
  background: #e8ebee;
}

.search img {
  width: 20px;
  height: 20px;
  margin: 0 0.5rem;
  cursor: pointer;
}

.filter-popup {
  width: 30%;
  height: 15%;
  position: fixed;
  top: 30%;
  /*move the left position of element 50% of the containing element  */
  left: 60%;
  /*-50% means moving the element to the left and up 50% of its container*/
  transform: translate(-50%, -50%);
  background-color: #F1EBE5;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  /* Ensure the popup is on top of other content, high z index value are display on top of elements with low z index value */
  z-index: 999;
}

.slidecontainer {
  width: 100%;
}


.slider {
  /*remove default styling property*/
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #000000;
  outline: none;
  opacity: 0.7;
  /*transistion effect*/
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/*
.App-header {
  background-color: #ffffff;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.map {
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  width: 50%;
  /* border: 3px solid black; */
  outline: 3px solid black;
}

#map {
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
  width: 50%;
  /* border: 3px solid black; */
  outline: 3px solid black;
}